<div class="container">
<h3>Book Details</h3>
<p>Book Title: <%= @book.title %> </p>
<p>Book price: <%= @book.price %> </p>
<p>Book publisher: <%= @book.publisher %> </p>
<p>Book number: <%= @book.number %> </p>
<p>Book description: <%= @book.description %> </p>
<p>Book id: <%= @book.book_id %> </p>
</div>
