<div class="container">
<h2> NOVEL </h2>
<table border="1" class="table">
<tr>
<th> Novel Name</th>
<th> isbn</th>
<th> price</th>
<th> Publication </th>
<th> format</th>
<th> pages</th>
<th> description</th>
<th> author id </th>
<th> genre id </th>
<th> publisher id </th>
<th> details </th>
<th> edit </th>
<th> delete </th>
</tr>
<% @novels.each do |novel| %>
<tr>
<td> <%= novel.name %> </td>
<td> <%= novel.isbn %> </td>
<td> <%= novel.price %> </td>
<td> <%= novel.publication %> </td>
<td> <%= novel.format %> </td>
<td> <%= novel.pages %> </td>
<td> <%= novel.description %> </td>
<td> <%= novel.author_id %> </td>
<td> <%= novel.genre_id %> </td>
<td> <%= novel.publisher_id %> </td>

<td> <%= link_to 'Novel', novels_path(novel) %> </td>



<td> <%= link_to 'Edit', edit_novel_path(novel) %> </td>
<td> <%= link_to 'Delete', novel_path(novel),
method: :Delete,
data: {confirm: "Are you sure you want to delete details"}
%> </td>

</tr>

<% end %>
</table>
</div>




